*.o
*.lo
*.la
build-aux/
*~

*.swp
.libs/
Makefile
autom4te.cache/
config.h
config.log
config.status
libtool
myexecutable
.deps/
.dirstamp
src/derived-parser.output
stamp-h1
test-suite.log
tests/test.log
tests/test.trs
test-runner
test-runner.c
cmd
tests/tmp/

